@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --text-color: #333;
  --border-color: #777;
  --bg-color: #fff;
  --title-gradient: linear-gradient(to bottom, #777, #333);
  --js-gradient: linear-gradient(to right, #f7df1e, #ffcc2f);
  --ts-gradient: linear-gradient(to right, #007acc, #00bfff);
  --react-gradient: linear-gradient(to right, #61dafb, #00bfff);
  --node-gradient: linear-gradient(to right, #428d45, #4caf50);
  --background-shape1-color: #ea3c5a;
  --background-shape2-color: #4294f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
}

/* TEXTS */
.gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  text-align: center;
  font-size: 3rem;
  line-height: 1.1;
  background-image: var(--title-gradient);
}
.js {
  background-image: var(--js-gradient);
}
.ts {
  background-image: var(--ts-gradient);
}
.react {
  background-image: var(--react-gradient);
}
.node {
  background-image: var(--node-gradient);
}
span.name {
  font-style: italic;
}
p.intro {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: center;
}
p {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 997px;
  text-align: center;
}

/* CONTACT */

.links {
  width: 100%;
  display: flex;
  gap: 1rem;
  max-width: 997px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.links > * {
  flex: 1 1 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
}

.links svg {
  width: 20px;
}

.links .fill-path {
  fill: var(--text-color);
  width: 2rem;
}
.links .stroke-path {
  stroke: var(--text-color);
  width: 2rem;
}

a {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  cursor: pointer;
}

a:hover {
  border-image-slice: 4;
  border-image-source: linear-gradient(to right, #ea3c597e, #4293f77a);
}

a:active {
  transform: scale(0.95);
}

/* BACKGROUND */
.shape {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(150px);
}

.magenta-shape {
  left: 0;
  background-color: var(--background-shape1-color);
  bottom: 10%;
}

.cyan-shape {
  right: 0;
  background-color: var(--background-shape2-color);
  top: 10%;
}

/* MOBILE */

@media screen and (max-width: 1024px) {
  body {
    padding: 6rem 2rem 10rem;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .links {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .links > * {
    flex: 1;
    max-width: 100%;
  }

  .title {
    font-size: 2.5rem;
  }

  p.intro {
    margin-bottom: 3rem;
  }

  p {
    line-height: 1.6;
  }

  a {
    max-width: none;
  }

  .shape {
    width: 50px;
    height: 200px;
    border-radius: 50%;
    filter: blur(100px);
    position: fixed;
  }
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #9f9f9f;
    --border-color: #77777737;
    --bg-color: #111;
    --title-gradient: linear-gradient(to bottom, #eee, #6b6b6b);
    --js-gradient: linear-gradient(to right, #ffd700, #ffb400);
    --ts-gradient: linear-gradient(to right, #48a1d9, #5bc0de);
    --react-gradient: linear-gradient(to right, #87cefa, #5bc0de);
    --node-gradient: linear-gradient(to right, #42a85f, #4caf50);
  }

  .shape {
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
    .shape {
      opacity: 1;
    }
  }
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333;
    --border-color: #77777753;
    --bg-color: #fff;
    --title-gradient: linear-gradient(to bottom, #535353, #333);
    --js-gradient: linear-gradient(to right, #f7df1e, #ffcc2f);
    --ts-gradient: linear-gradient(to right, #007acc, #00bfff);
    --react-gradient: linear-gradient(to right, #61dafb, #00bfff);
    --node-gradient: linear-gradient(to right, #428d45, #4caf50);
  }

  .shape {
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
    .shape {
      opacity: 1;
    }
  }
}
