@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --text-color: #333;
  --border-color: #777;
  --bg-color: #fff;
  --title-gradient-start: #777;
  --title-gradient-end: #333;
  --js-color: #f7df1e;
  --js-color-light: #ffcc2f;
  --ts-color: #007acc;
  --ts-color-light: #00bfff;
  --react-color: #61dafb;
  --react-color-light: #00bfff;
  --background-shape1-color: #ea3c5a;
  --background-shape2-color: #4294f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
}

/* GRADIENTS */
.gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title {
  background-image: linear-gradient(
    to bottom,
    var(--title-gradient-start),
    var(--title-gradient-end)
  );
}

.js {
  background-image: linear-gradient(
    to right,
    var(--js-color),
    var(--js-color-light)
  );
}

.ts {
  background-image: linear-gradient(
    to right,
    var(--ts-color),
    var(--ts-color-light)
  );
}

.react {
  background-image: linear-gradient(
    to right,
    var(--react-color),
    var(--react-color-light)
  );
}

/* MAIN */
h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 1.1;
}

span.name {
  font-style: italic;
}

p.intro {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 997px;
  text-align: center;
}

/* CONTACT */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  max-width: 997px;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.links svg {
  width: 20px;
}

.links path {
  fill: var(--text-color);
  width: 2rem;
  transition: all 0.1s ease-in-out;
}

a {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

a:hover {
  cursor: pointer;
  border-width: 0.5;
  border-image-slice: 4;
  border-image-source: linear-gradient(to right, #ea3c597e, #4293f77a);
}

a:active {
  transform: scale(0.95);
}

/* BACKGROUND */
.shape {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(150px);
}

.magenta-shape {
  left: 0;
  background-color: var(--background-shape1-color);
  bottom: 10%;
}

.cyan-shape {
  right: 0;
  background-color: var(--background-shape2-color);
  top: 10%;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  body {
    padding: 6rem 2.5rem;
    row-gap: 4rem;
  }

  .gradient-title {
    background-image: linear-gradient(
      to bottom right,
      var(--title-gradient-start),
      var(--title-gradient-end)
    );
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    line-height: 1.6;
  }

  .links {
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 1rem;
  }

  a {
    max-width: none;
  }

  .shape {
    width: 50px;
    height: 200px;
    border-radius: 50%;
    filter: blur(100px);
    position: fixed;
  }
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #9f9f9f;
    --border-color: #77777737;
    --bg-color: #111;
    --title-gradient-start: #eee;
    --title-gradient-end: #6b6b6b;
    --js-color: #ffd700;
    --js-color-light: #ffb400;
    --ts-color: #48a1d9;
    --ts-color-light: #5bc0de;
    --react-color: #87cefa;
    --react-color-light: #5bc0de;
  }

  .shape {
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
    .shape {
      opacity: 1;
    }
  }
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333;
    --border-color: #77777753;
    --bg-color: #fff;
    --title-gradient-start: #535353;
    --title-gradient-end: #333;
    --js-color: #f7df1e;
    --js-color-light: #ffcc2f;
    --ts-color: #007acc;
    --ts-color-light: #00bfff;
    --react-color: #61dafb;
    --react-color-light: #00bfff;
  }

  .shape {
    opacity: 0.25;
  }
  @media screen and (max-width: 768px) {
    .shape {
      opacity: 1;
    }
  }
}
